.understatement {
  font-family: CairoBold;
  font: 16px;
  text-transform: uppercase;

}

.time-indicator {
  font-family: CairoRegular;
  font: 23px;
  margin-top: 20px;
}

h1 {
  margin-top: 80px;
}

img.logo {
  width: 85px;
}

img.state {
  width: 600px;
  height: 310px;
}
