<div>
  <h2>Can I get coffee?</h2>
  <p class="understatement">by</p>
  <img class="logo" src="assets/images/logo.svg">
</div>

<div *ngIf="statusData && statusData.coffeePlaced">
  <h1>Someone is getting coffee.</h1>
  <h3 class="time-indicator">{{statusData['createdAt'] | timeAgo}}</h3>
  <img class="state" src="assets/images/coffee_state2.svg">
</div>

<div *ngIf="statusData && !statusData.coffeePlaced">
  <h1>The coffee machine is available.</h1>
  <img class="state" src="assets/images/coffee_state1.svg">
</div>
