
<div class="col-8 offset-2">
  <hr class="seperator">
</div>

<div class="queue container">
  <h5>People going to get coffee</h5>

  <div class="table-container row justify-content-center">
    <div class="col-9 table-hover">
      <table class="table">
        <thead>
        <tr>
          <th class="w-50">Who</th>
          <th class="w-50">How long ago</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td class="name w-50">
            <img class="profile-image" src="assets/images/avatar_blue.svg" />

            <span class="name-label">{{user.name}}</span>
          </td>
          <td class="when w-50">{{user.createdAt | timeAgo}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
