<div class="col-md-6 offset-md-3">
  <h5>Let others know you're gonna get coffee soon.</h5>
</div>

<div class="form-container col-4 offset-4">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <input
        type="text"
        id="name"
        placeholder="Your name"
        class="form-control"
        ngModel
        name="name"
        required>
    </div>
    <button class="btn btn-secondary" type="submit">I'm going to get coffee</button>
  </form>
</div>
