

table, td, tr, th {
  border: none !important;
  transition: 0.3s;
  vertical-align: middle;
}

tr {
  text-align: left;
}

thead {
  font-family: CairoRegular;
  font-size: 18px;
  color: #a4a4a4;
}

.name {
  font-family: CairoSemiBold;
  font-size: 25px;
}

.when {
  font-family: CairoRegular;
  font-size: 25px;
}

h5 {
  margin-top: 80px;
}

.table-container {
  margin-top: 60px;
}

hr {
  margin-top: 80px;
}

.profile-image {
  width: 85px;
}

.name-label {
  margin-left: 10px;
}
