<div class="container">
  <app-coffee></app-coffee>
  <app-user-input (onUserCreated)="userWasCreated()"></app-user-input>
  <app-users></app-users>

  <div class="col-8 offset-2">
    <hr class="seperator">
    <h5>Join us in the Creative Media Network Slack channel for live updates and coffee logistics</h5>
    <h4>@coffeetime</h4>
  </div>
</div>
