/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: CairoBlack;
  src: url(assets/fonts/Cairo-Black.ttf);
}

@font-face {
  font-family: CairoBold;
  src: url(assets/fonts/Cairo-Bold.ttf);
}

@font-face {
  font-family: CairoExtraLight;
  src: url(assets/fonts/Cairo-ExtraLight.ttf);
}

@font-face {
  font-family: CairoLight;
  src: url(assets/fonts/Cairo-Light.ttf);
}

@font-face {
  font-family: CairoRegular;
  src: url(assets/fonts/Cairo-Regular.ttf);
}

@font-face {
  font-family: CairoSemiBold;
  src: url(assets/fonts/Cairo-SemiBold.ttf);
}


h1 {
  font-family: CairoSemiBold;
  font-size: 43px;
}

h2 {
  font-family: CairoSemiBold;
  font-size: 28px;
}

h4 {
  font-family: CairoBold;
  font-size: 44px;
}

h5 {
  font-family: CairoSemiBold;
  font-size: 33px;
}

html {
  height: 100%;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}

body {
  padding: 60px;
}

input[type="text"] {
  font-family: CairoRegular;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

button.btn-secondary {
  background-color: black;
  font-family: CairoRegular;
  font-size: 22px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.seperator {
  border-top: 1px solid #fb7b7b7;
}
